@model BlobListViewModel
@{
    ViewData["Title"] = "ListBlobs";
}

<h1 class="text-dark">Lista de arquivos no blob</h1>

<ul class="list-group">
    @foreach (var file in Model.Blobs)
    {
        <li class="list-group-item list-group-item-info">
            Arquivo: <a href="@file.Uri">@file.Name</a> <br /> 
        </li>
    }
</ul>

